<nav class="flex flex-wrap gap-6 text-sm opacity-80">
  <a class="hover:opacity-100 hover:underline" href="/outbound-automation/">Outbound Automation</a>
  <a class="hover:opacity-100 hover:underline" href="/cold-email-deliverability/">Deliverability</a>
  <a class="hover:opacity-100 hover:underline" href="/guides/">Guides</a>
  <a class="hover:opacity-100 hover:underline" href="/compare/">Compare</a>
  <a class="hover:opacity-100 hover:underline" href="/glossary/">Glossary</a>
</nav>
